<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Come Back Soon For More Fun With  </h1>
  <p> The Coalition for the Liberation of Itinerant Tree-Dwellers!.</p>
  <p><a href="/login">Click here to log back in.</a></p>
</div>
