<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <% if (user) { %>
    <h1>
      Hello<% if (user.username) { %>, <%= user.username %><% } %>
    </h1>
    <p> This is the Coalition for the Liberation of Itinerant Tree-Dwellers!(via <%= authType %>).</p>

    <p>Spread the Xmas Joy!!</p>


    <br /><br />
    <img src="/img/elf.gif" />
    <br /><br />

    <h2 class="form-heading">Write a message to our sweater</h2>
    <input type="text" id="sweaterMessage" placeholder="Message">
    <br>
    <button class="btn btn-primary"  id="newMessage" type="submit">Submit</button>
    
    <p><a href="/logout">Click here to log back out.</a></p>


  <% } else { %>
    <h1>Hello, stranger</h1>
    <br />
    <img src="/img/lucy.gif" />
    <br /><br />
    <p>Don't have access to the Coalition for the Liberation of Itinerant Tree-Dwellers!.</p>
    <p><a href="/users/add">Click here to create a user account.</a></p>
    <p><a href="/login">Click here to log in with Facebook or Twitter.</a></p>

    <p>Been here before???? <a href="/login"> Login Back In.</a></p>

  <% } %>

</div>

<script type="text/javascript" src="/js/arduino.js">  
</script>

